

html {
    scroll-behavior: smooth;
    font-family: 'Inria Sans', sans-serif;
}

h1 {
    font-size: 48px;
}

body {
    font-size: 20px;
}

.objective {
    font-size: 30px;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bg-title {
    background:url('/static/dylan-gillis-unsplash.jpg');
    background-color: #000000;
    background-position: center;
    background-size: cover;
}

.bg-title h1, .bg-title p {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.bg-blue {
    background-color: rgb(15, 28, 55);
}

.progress-container {
    width: 100%;
    height: 15px;
    background: #ccc;
}

.progress-bar {
    height: 15px;
    background: rgb(127, 127, 255);
    width: 0%;
}

.bullet-list {
    list-style-type: circle;
    margin-left: 20px;
}

.toc-text{
    color: white;
    text-decoration: underline;
}