<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    
    <title>[Company Name] Proposal</title>
</head>


<body>
<div class="container-fluid sticky-top bg-blue pb-1  m-0" id="header">
  <div class="row">
    <div class="col-6">
      <p class="text-left text-white p-0 m-0">[Company Name] Proposal</p>
    </div>
    <div class="col-6">
      <p class="text-right p-0 m-0">
        <a class="text-white font-weight-bold" href="#top-container">Back to Top</a>
      </p>
    </div>
  </div>
  <div class="progress-container">
    <div class="progress-bar" role="progressbar" id="myBar"></div>
  </div>
</div>

<div class="container-fluid bg-title my-0 px-0 py-5" id="top-container">
  <br />
  <br />
  <br />
  <br />
  <div class="mx-auto" style="width: 90%;">
    <h1 class="text-center text-white">[Company Name]</h1>
    <p class="text-center my-0 p-0 font-weight-bold text-light">Design & Development Proposal</p>
    <p class="text-center my-0 p-0 font-weight-bold text-light">Prepared by Pritisha Kumar and [Designer Name]</p>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>

<div class="container-fluid bg-blue my-0 px-0 py-5">
  <br />
  <div class="mx-auto" style="width: 90%;">
  <h2 class="text-light">Content</h2>
  <ul class="text-light">
    <li><a class="toc-text" href="#introduction">Introduction</a></li>
    <li><a class="toc-text" href="#process">Our Process</a></li>
    <li><a class="toc-text" href="#timeline">Project Timeline & Cost</a></li>
    <li><a class="toc-text" href="#funding">Possible Funding Options</a></li>
    <li><a class="toc-text" href="#acceptance">Proposal Acceptance</a></li>
  </ul>
</div>
<br />
</div>

<div class="container-fluid bg-light my-0 px-0 py-5" id="introduction">
  <br />
  <div class="mx-auto" style="width: 60%;">
  <p class="font-weight-bold mx-auto objective">The main object is to 
    create industry appropriate branding and 
    to modernize the company's online presence.</p>
</div>
<br />
</div>

<div class="container-fluid bg-blue my-0 px-0 py-5">
  <br />
  <div class="mx-auto" style="width: 90%;">
  <h2 class="text-light">How Will We Get There?</h2>
  <br />
  <p class="text-light">Our goal is to establish fresh new 
    branding that would communicate the company 
    as being well established and ‘authentic’.</p>
  <p class="text-light">We will also create a new website design 
    that is updated in content, in addition to being visually 
    consistent with the new branding. This new website will enable easy scalability for adding any future content.</p>
</div>
<br />
</div>

<div class="container-fluid bg-light my-0 px-0 py-5" id="process">
  <br />
  <div class="mx-auto" style="width: 90%;">
  <h2>Our Process</h2>
  <br />

  <h4>Phase 1: Branding</h4>
  <p>An initial interview will be conducted to provide us 
    with a clear picture of who you are and what 
    you stand for. This interview will provide us with a 
    clear message of what visual identity your 
    company needs in terms of:</p>
    <ul class="bullet-list">
      <li>Logo Design</li>
      <li>Brand Design</li>
      <li>Typography</li>
    </ul>
    <br />
    <p>From there, three new general brand concepts will be created 
      and presented via slideshow. We will discuss 
      these options and decide which direction to take, 
      while accounting for any necessary adjustments.</p>
    <br />

    <h4>Phase 2 : Website Design</h4>
    <p>With your new branding in hand, we will then go 
      through a slideshow of more specific website designs 
      which are appropriate for your industry, to narrow 
      down the look and feel of your new website.</p>
    <p>Based on that choice, two separate website designs with different 
      layouts will be made for you to choose from. 
      With an option chosen, we can then start designing 
      your website’s content.</p>
    <br />

    <h4>Phase 3 : Final design prototype</h4>
    <p>We will go through each page of your current 
      website and find out what content is in need of 
      reorganizing or refreshing. This is the time 
      curate any new content that you would like to integrate 
      into the website, so that we can create a layout that 
      would best highlight your new content.</p>
    <p>When all of the content is finalized, a page-by-page 
      design of the website will be designed and 
      shown to you. With the final design approved, 
      your website is ready for development.</p>
    <br />

    <h4>Phase 4: Development</h4>
    <p>Your company's Wordpress editing permissions will be shared 
      with us, so we can access the domain and the 
      necessary software tools. We will build the 
      website on Wordpress, parallel to the existing 
      company website, without affecting its 
      operations. The website will be developed in 
      full, in accordance to the final design prototype 
      created during the previous phase. </p>
    <br />

    <h4>Phase 5: Testing and Debugging</h4>
    <p>Upon completion of the website development, 
      the website will be turned over to you 
      for feedback, confirming compatibility and 
      checking for any website bugs or glitches. All of the 
      details and operations of the website will be 
      checked for proper functionality. Functionality 
      will be checked with screen readers for 
      comfortable website accessibility, as well for
      compatibility with different web browsers, 
      tablets and mobile operating systems. </p>
    <br />

    <h4>Phase 6: Deployment</h4>
    <p>The website, being fully confirmed and approved 
      by all parties, will be deployed to replace the 
      existing operating company website. Functionality 
      will again be confirmed in all components of the 
      website after deployment.</p>
    <br />

    <h4>Phase 7: Maintenance and Hand Off</h4>
    <p>The new functioning website will be handed off 
      to you, along with any details and 
      instructions needed for you to maintain 
      and update the website yourself. Our access 
      permissions to the website will be deactivated and 
      full privacy for editing the website restored 
      to you.</p>
    <br />

    <h4>Phase 8: Wordpress IT Troubleshooting</h4>
    <p>This will occur throughout the other phases, 
      as we troubleshoot issues with the Wordpress 
      email client, and compatibility issues with 
      company cellphones.</p>
    <br />
  </div>
<br />
</div>

<div class="container-fluid bg-blue my-0 px-0 py-5" id="timeline">
  <br />
  <div class="mx-auto"  style="width: 90%;">
  <h2 class="text-light">Project Timeline & Cost</h2>
  <br />

  <table class="table table-striped table-hover bg-light">
    <caption class="text-light">NOTE: Numbers quoted above are based on 
      conservative estimations. The final amount will be based on 
      actual hours allocated to the project.</caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">Phase</th>
        <th scope="col">Description</th>
        <th scope="col">Timeline</th>
        <th scope="col">Estimated Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Phase 1</th>
        <td>Branding</td>
        <td>## weeks</td>
        <td>{{rate[0]}}</td>
      </tr>
      <tr>
        <th scope="row">Phase 2</th>
        <td>Website Design</td>
        <td>## weeks</td>
        <td>{{rate[1]}}</td>
      </tr>
      <tr>
        <th scope="row">Phase 3</th>
        <td>Final Design</td>
        <td>## weeks</td>
        <td>{{rate[2]}}</td>
      </tr>
      <tr>
        <th scope="row">Phase 4</th>
        <td>Development</td>
        <td>## weeks</td>
        <td>{{rate[3]}}</td>
      </tr>
      <tr>
        <th scope="row">Phase 5</th>
        <td>Testing and Debugging</td>
        <td>## weeks</td>
        <td>{{rate[4]}}</td>
      </tr>
      <tr>
        <th scope="row">Phase 6</th>
        <td>Deployment</td>
        <td>## weeks</td>
        <td>{{rate[5]}}</td>
      </tr>
      <tr>
        <th scope="row">Phase 7</th>
        <td>Maintenance and Hand Off</td>
        <td>## weeks</td>
        <td>{{rate[6]}}</td>
      </tr>
      <tr>
        <th scope="row">Phase 8</th>
        <td>IT Troubleshooting</td>
        <td>Throughout</td>
        <td>{{rate[7]}}</td>
      </tr>
      <tfoot class="table-dark">
        <th scope="row">Estimated Total</th>
        <td></td>
        <td>## months</td>
        <td>{{rate[8]}}</td>
      </tfoot>
    </tbody>
  </table>
  </div>
  <br />
</div>

<div class="container-fluid bg-light my-0 px-0 py-5" id="funding">
  <br />
  <div class="mx-auto"  style="width: 90%;">
  <h2>Possible Expansion Funding Options</h2>
  <br />
  <ul class="bullet-list">
    <li>
      <a href="#">....</a>
    </li>
    <li>
      <a href="#">....</a>
    </li>
  </ul>
  
  </div>
  <br />
</div>

<div class="container-fluid bg-blue my-0 px-0 py-5" id="acceptance">
  <br />
  <div class="mx-auto"  style="width: 90%;">
  <h2 class="text-light">Proposal Acceptance</h2>
  <br />
  <p class="text-light">Please let us know if you have any questions 
    or concerns regarding this proposal. We can start the project as 
    soon as we get your confirmation and approval.</p>
  </div>
  <br />
</div>



<script src="/static/app.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>